.cancelation {
    // border: 1px solid red;
    padding: 20px;

    @media only screen and (min-width: 1000px){
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
        margin-top: 30px;

    }

    h1 {
        font-family: 'Old Standard TT';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 30px;
        color: #222222;
        padding-bottom: 13px;
        border-bottom: 1px solid #F1F1F1;
    }

    p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $secondary;
        margin-top: 32px;  
    }
}